* {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 53px;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
}

.logo {
  width: 150px;
  margin-top: 1px;
}

nav {
  display: inline-block;
  vertical-align: sub;
  margin-left: 230px;
}

a {
  text-decoration: none;
  color: rgba(61, 61, 61, 1);
}

ul {
  padding: 0;
  margin: 0;
  gap: 50px;
}

li {
  display: inline-block;
  padding: 0 0 19px 0;
}

.item {
  margin-left: 50px;
}

li:hover {
  border-bottom: 3px solid rgba(70, 163, 88, 1);

  font-size: 16px;
  font-weight: 700;
  line-height: 20.11px;
}

button {
  min-width: 100px;
  min-height: 35px;

  font-size: 16px;
  font-weight: 500;
  line-height: 20.11px;

  background: rgba(70, 163, 88, 1);
  border: 1px solid rgba(70, 163, 88, 1);
  border-radius: 6px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;

  padding: 8px 17px;
  vertical-align: top;
  float: right;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_logout {
  margin-right: 7px;
}

section {
  background: linear-gradient(
    97.77deg,
    rgba(245, 245, 245, 0.5) -23.46%,
    rgba(245, 245, 245, 0.5) 107.51%
  );

  /* display: flex;
  justify-content: space-between; */
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  display: inline-block;
  width: 57%;
  vertical-align: middle;

  padding: 68px 93px 85px 40px;
}

.hero_img {
  vertical-align: middle;

  width: 507px;
}

.hero_title {
  margin-top: 7px;
  color: rgba(61, 61, 61, 1);

  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
  text-transform: uppercase;
}

span {
  color: rgba(70, 163, 88, 1);
  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
}

.hero_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(114, 114, 114, 1);
  margin: 7px 0px 44px;
}

.link_shopNow {
  width: 140px;
  height: 40px;
  background-color: rgba(70, 163, 88, 1);

  border-radius: 6px;
}

.shop_now {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);

  background-color: rgba(70, 163, 88, 1);
  border: 1px solid rgba(70, 163, 88, 1);
  border-radius: 6px;
  padding: 11px 26px;
}
